<!-- Page Content -->
<div class="container">

    <!-- Portfolio Item Heading -->
    <div class="row hader-logo">
        <div class="col-6">
            <img src="~/Img/go_anim_8_seq_107x100_2.gif" class="img-fluid" />
            <div class="logo-text">
                <b>Digital Marketing.</b>
                <br />
                <b>Business Results.</b>
            </div>
        </div>

    </div>


    <br />
    <!-- Portfolio Item Row -->
    <div class="row">

        <div class="col-md-5">
            <p>GO Digital Marketing is an award-winning digital agency that helps global brands grow and scale online. </p>
            <p>Leveraging GO’s 14 years of experience with global brands and the innovative technologies being developed here in Israel’s startup nation to push the boundaries and deliver superior business results. </p>
        </div>
        <div class="col-lg-1"></div>
        <div class="col-md-5">
            <div class="row">
                <div class="col-lg-6">
                    <b class="triangular-icon">Technology-driven</b>
                    <p>(Located in the heart of the startup nation)</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <b class="triangular-icon">Strong Creative</b>
                    <p>To go with our core performance capabilities </p>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->
    <!-- Related Projects Row -->
    <h3 class="my-4  ">
        <u>Our Ser</u>vices
    </h3>

    


    <div class="row">

        <div class="col-md-5 col-sm-6 mb-4">
            <p>Our passion is for Performance and eCommerce. </p>
            <p>
                We are on top of all new technologies and new approaches that are fundamentally transforming the way we work. Pushing the boundaries creatively and utilizing the best of technology for superior business results.
            </p>
        </div>

        <div class="col-lg-1"></div>
        <div class="col-md-5 col-sm-6 mb-4">
            <p>
                A deep understanding of a client's business and ongoing monitoring and optimizing campaigns in allows GO to deliver high-level results.
                Constantly testing everything! from creatives, target audience, new platforms, and top cutting-edge tech.
            </p>
            <p>As Experts in scaling accounts GO knows all the variables needed to get your digital activity to the next level. </p>
        </div>

        <div class="row container">


            <div class="col-lg-3 col-md-6 col-sm-12">

                <div class="card">
                    <img class="img-fluid " src="~/Img/640x1550/icon ltv.png" alt="">
                    <div class="card-body text-center">
                        <p class="img-log-text">The real TLV</p>
                    </div>
                </div>
                <img  class="" />


            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">

                
                <img src="~/Img/640x1550/icon user.png"  class="img-fluid"/>
                <p class="img-log-text">
                    User Acquisition
                    <br/>
                    at Scale
                </p>


            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <img src="~/Img/640x1550/icon raos.png"  class="img-fluid"/>
                <p class="img-log-text">Positive ROAS</p>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <img src="~/Img/640x1550/icon factor.png"  class="img-fluid"/>

                <p class="img-log-text">Factor Analysis 
                    of Creative</p>
            </div>


        </div>
    </div>
    <!-- /.row -->

</div>
<!-- /.container -->
