<!-- Page Content -->
<img src="~/Img/1920x1080/big arrow red.png" class="img-fluid arrow-red" />
@*<img src="~/Img/1920x1080/big arrow grey.png" class="img-fluid arrow-grey" />*@

<!-- Navigation -->
<nav class="navbar navbar-expand-lg bg-header shadow fixed-top text-uppercase" id="mainNav">
    <div class="container">

        <a class="navbar-brand js-scroll-trigger" href="#page-top">
            <img src="~/Img/go_anim_8_seq_107x100_2.gif" class="img-fluid main-logo" />
        </a>
        <button class="navbar-toggler navbar-toggler-right text-uppercase bg-menu  text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">

            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item mx-0 mx-lg-1">
                    <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#about">About</a>
                </li>
                <li class="nav-item mx-0 mx-lg-1">
                    <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#ourService">Our Services</a>
                </li>
                <li class="nav-item mx-0 mx-lg-1">
                    <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#contactus">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Portfolio Grid Section -->
<section class="portfolio section-mobile-head " id="about">

    <div class="container">
        <h3 class="my-4 our-service ">
            <u>About</u>
        </h3>
        <div class="row">
            <div class="col-lg-6 ml-auto">
                <p>GO Digital Marketing is an award-winning digital agency that helps global brands grow and scale online. </p>
                <p>Leveraging GO’s 14 years of experience with global brands and the innovative technologies being developed here in Israel’s startup nation to push the boundaries and deliver superior business results. </p>

            </div>
            <div class="col-lg-6 ml-auto">
                <div class="row ">
                    <div class="col-lg-6 col-md-6  ">
                        <b class="triangular-icon">Technology-driven</b>
                        <p class="triangular-sec-row">(Located in the heart of the startup nation)</p>
                    </div>

                </div>
                <div class="row ">
                    <div class="col-lg-6 col-md-6  ">
                        <b class="triangular-icon">Strong Creative</b>
                        <p class="triangular-sec-row">To go with our core performance capabilities </p>
                    </div>

                </div>
            </div>
        </div>

    </div>
</section>


<!-- About Section -->
<section class=" mb-0 section-mobile" id="ourService">
    <div class="container">
        <h3 class="my-4 our-service ">
            <u>Our Ser</u>vices
        </h3>
        <div class="row">
            <div class="col-lg-6 ml-auto">
                <p>Our passion is for Performance and eCommerce. </p>
                <p>
                    We are on top of all new technologies and new approaches that are fundamentally transforming the way we work. Pushing the boundaries creatively and utilizing the best of technology for superior business results.
                </p>
            </div>
            <div class="col-lg-6 mr-auto">

                <p>
                    Constantly testing everything! from creatives, target audience, new platforms, and top cutting-edge tech.
                </p>
                <p>As Experts in scaling accounts GO knows all the variables needed to get your digital activity to the next level. </p>
            </div>
        </div>
        <br />
        <br /><br />

        <div class="row  ">


            <div class="col-lg-3 col-md-6 col-sm-6 col-xsm-6">
                <div class="card shadow p-3 mb-5 bg-white rounded">
                    <div class="card-content">
                        <img class="img-fluid icon-image" src="~/Img/640x1550/icon ltv.png" alt="">
                        <div class="text-underimage ">
                            <p class="img-log-text">The Real LTV</p>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-lg-3 col-md-6 col-sm-6 col-xsm-6">
                <div class="card shadow p-3 mb-5 bg-white rounded">
                    <div class="card-content">
                        <img src="~/Img/640x1550/icon user.png" class="img-fluid icon-image" />
                        <div class="text-underimage ">
                            <p class="img-log-text-custom">
                                User Acquisition
                            </p>
                            <p class="img-log-text-sec-row">
                                at Scale
                            </p>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6 col-xsm-6 ">
                <div class="card shadow p-3 mb-5 bg-white rounded">
                    <div class="card-content">
                        <img src="~/Img/640x1550/icon raos.png" class="img-fluid icon-image" />
                        <div class="text-underimage ">
                            <p class=" roas-text">Positive ROAS</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6 col-xsm-6 ">
                <div class="card shadow p-3 mb-5 bg-white rounded">
                    <div class="card-content">
                        <img src="~/Img/640x1550/icon factor.png" class="img-fluid icon-image" />
                        <div class="text-underimage ">
                            <p class="img-log-text-analysis">
                                Factor Analysis
                            </p>
                            <p class="img-log-text-sec-row-analysis">
                                of Creative
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>


    </div>
</section>


<!-- Contact Section -->
<section  class="section-mobile">
    
    <div class="container">
        <div class="contact-us" id="contactus">
            <a href="mailto:info@gim.co.il">
                <h3 class="mail-to my-4">
                    Contact Us
                </h3>
            </a>
        </div>
    </div>

</section>
@*<div class="row container">


    </div>*@




